@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


.button {
  font-family: "Public Sans";
  font-size: small;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: flex-end;
}

.button:hover {
  background-color: rgb(1,1,1,0.5);
  color: white;
}

.card {
  width: 25%;
  display: flex;
  align-self: center;
  padding: 5%;
  height: 5em;
  background-size: cover;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
}

.button img {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.forkandknife {
  margin: auto;
  display: flex;
  align-items: center;
  align-content: center; 
  height: auto;
  width: 10%;
}

.childposition {
  display: flex;
  flex-direction: row;
}

.text {
  padding: 0;
  width: 100%;
  font-size: 18px;
  margin: 0;
  padding: 3px;
}