@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.bgimg {
    background-image: url("/public/backgroundImages/backgroundimage.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    width: auto;
    max-height: 80vh;
}

/* for phone screens */
@media only screen and (max-device-width: 1366px) {
    .bgimg {
      background-attachment: scroll;
    }
}
.floatingdiv {
    height: auto;
    width: 100%;
    background-color: white;
    margin-left: 36%;
    margin-right: 36%;
    margin-top: 15%;
    margin-bottom: 50%;

}
.goodeatsheading {
    font-size: 72px;
    font-family: "Pacifico";
    text-align: center;
    color: #7c2121;
    margin: 2rem;
}
.subheader {
    font-family: "Public Sans";
    font-size: 18px;
    text-align: center;
}
.chooselocationbutton {
    font-family: "Public Sans";
    font-size: 16px;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    justify-self: center;
    background: none;
    color: #535353;
}

.container {
    display: flex;
    width: 100%;
    height: auto;
}

.flexforcontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.buttonflex {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
