@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Lexend&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.contentcontainer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: black;
  height:auto;
  width: 100%;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.rowcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow wrapping */
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 1rem;
  padding: 1rem;
}

.sectiontitle {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  text-align: center;
  color: #bf9515;
  letter-spacing: 0.15px;
  margin: 0;
  padding: 0;
}

.quesadilla {
  margin-top: 5rem;
  margin-bottom: 2rem; 
}
