@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Lexend&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.cardcontainer {
  display: flex;
  flex-direction: column;
}

.headercontainer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardheader {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 0;
  padding: 0;
}

.header {
  font-family: "Oswald";
  color:white;
  margin: 0;
  padding: 0;
}

.price {
  justify-self: right;
  align-items: right;
  color: white
}

.description {
  font-family: "Public Sans";
  color: white;

}



