@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Lexend&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.contentcontainer {
  display: flex;
  flex-direction: column;
}

.rowcontainer {
  display:flex;
  flex-direction: row;
}

.sectiontitle {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #bf9515
}