@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata:wght@200..900&family=Lexend&family=Pacifico&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.cardcontainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  background-color: black;
  border-radius: 10px;
  margin: 20px;
}

.headercontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.header {
  font-family: "Open Sans";
  font-weight: 200;
  color:white;
  font-size: 24px;
  padding: 10px; 
  width: 100%;
}

.price {
  justify-self: right;
  align-items: right;
  font-weight: 200;
  color: white;
  padding: 20px;
}

.description {
  font-family: "Open Sans";
  color: white;
  font-size: 18px;
  margin: 5px;
  padding: 5px;
}

ul {
  list-style: none;
}

.menuItem span:first-child {
  position: relative;
  padding-right: 12px;
}

.menuItem span:first-child::after {
  content: "................................................................................";
  position: absolute;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
  color: #ccc; /* subtle dot color */
}

.menuItem {
  position: relative;
}




