/* nav bar styling */ 

.nav-bar {
  background-color: black;
  list-style-type: none;
}

.nav-bar-item {
  display: inline;
  margin: 5px;
  color: #be9514;
}

.nav-bar-item:hover {
  color: white;
}
