/* NavBar styling */

.navbar {
  color: black;
  list-style-type: none;
  background-color: black;
  text-align: center;
  padding: 10px;
}

.navbaritem {
  display: inline;
  margin: 5px;
  color: #be9514;
}

.navbaritem:hover {
  color: white;
}
